@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/*
primary: #0A2647
secondary: #144272
tertiary: #205295
quaternary: #2C74B3
*/

@keyframes BottomTotop {
    0%   {color: #D61355;}
    16%  {color: #F94A29;}
    32%  {color: #FCE22A;}
    48%  {color: #30E3DF;}
    64%  {color: #FCE22A;}
    80%  {color: #F94A2A;}
    100% {color: #D61355;}
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 1200px;
    background-color: #0A2647;
    color: white;
}

#navbar {
    display: flex;
    align-items: center;
    height: 8%;
}

.menu {
    display: none; 
}

.titulo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

.titulo .title {
    align-self: center;
}

.opciones {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botones {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-self: center;
    column-gap: 5%;
}

.botones a {
    text-decoration: none;
    color: white;
}

.botones a:active {
    color: #2C74B3;
}

#cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
}

.izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    height: 100%;
}

.izquierda .texto {
    width: 40%;
    height: 50%;
}

.izquierda .texto p {
    text-align: justify;
}

.izquierda .texto span {
    font-weight: bolder;
    color: orange;
    font-size: 30px;
    animation: BottomTotop 4s linear infinite 0s;
}

.derecha {
    display: flex;
    flex-grow: 1;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.derecha img {
    width: 40%;
}

#secondTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12%;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 45%;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    row-gap: 10%;
    border-radius: 1em;
    color: black;
}

.logo {
    width: 50%;
}

@media screen and (max-width: 480px) {

    body {
        height: 2400px;
    }

    #navbar {
        height: 4%;
        flex-wrap: wrap;
    }

    .menu {
        display: flex;
        height: 50%;
        width: 20%;
        align-items: center;
        justify-content: center;
    }

    .menu img {
        width: 30px;
        height: 50%;
    }

    .titulo {
        width: 80%;
        height: 50%;
    }

    #opciones {
        display: none;
    }

    .opciones {
        height: 50%;
    }

    .botones {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }

    #cuerpo {
        flex-direction: column;
        height: 30%;
    }

    .izquierda {
        width: 100%;
        height: 60%;
    }

    .izquierda .texto {
        width: 70%;
        height: 70%;
    }

    .derecha {
        width: 100%;
        height: 40%;
    }

    .derecha img {
        width: 70%;
    }

    #secondTitle {
        height: 6%;
    }

    #projects {
        flex-direction: column;
        height: 60%;
    }

    .contenedor {
        width: 80%;
        height: 22%;
    }

}